@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --titulo: "Josefin Sans", sistem-ui;
    --paragrafo: "Libre Franklin", sistem-ui;
    --azulClaro: #48CFCB;
    --azulEscuro: #229799;
    --branco: #F5F5F5;
    --preto: #424242;
}

.container {
    position: absolute;
    background-color: var(--branco);
    border: var(--azulEscuro) 1rem solid;
}

.fechar {
    display: flex;
    float: right;
}

.fechar button {
    font-size: 2rem;
}

.info {
    
}