@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --titulo: "Josefin Sans", sistem-ui;
    --paragrafo: "Libre Franklin", sistem-ui;
    --azulClaro: #48CFCB;
    --azulEscuro: #229799;
    --branco: #F5F5F5;
    --preto: #424242;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: none;
}

body {
    width: 100vw;
    height: auto;
    background-color: var(--branco);
}

h2 {
    color: var(--azulEscuro);
    font-family: var(--titulo);
    margin: 2rem;
}

.containerClasse {
    display: flex;
    margin: 2rem;
    justify-content: space-evenly;
    overflow-x: scroll;
}